
{% extends "main.html" %}

<link rel="stylesheet" href="{{ 'assets/stylesheets/home.css' | url }}" />

<!-- Content -->
{% block content %}

<link rel="stylesheet" href="{{ 'assets/stylesheets/home.css' | url }}" />


<div class="tile-content">
  <div class='split-pane dev-side'>
    <div class="dimmed">
      <div class='text-content'>
        <div class="bold">You want to learn</div>
        <div class='big'>Cloud-Native Development?</div>
      </div>
      <button>
        Learn More...
      </button>

    </div>
  </div>
  <div class='split-pane operate-side'>
    <div class="dimmed">
      <div class='text-content'>
        <div class="bold">You want to learn</div>
        <div class='big'>Cloud-Native Operations?</div>
      </div>
      <button>
        Learn More...
      </button>

    </div>
  </div>
</div>

{% endblock %}

<!-- Application footer -->
{% block footer %}
{{ super() }}
{% endblock %}

