
{% extends "main.html" %}

<link rel="stylesheet" href="{{ 'assets/stylesheets/home.css' | url }}" />

<!-- Content -->
{% block  %}

<link rel="stylesheet" href="{{ 'assets/stylesheets/home.css' | url }}" />


<div class="tile-content">
  <div class='split-pane dev-side'>
    <div>
      <div class='text-content'>
        <div class="bold">You want to learn how to</div>
        <div class='big'>Developer for Cloud-Native?</div>
      </div>
      <button>
        Learn It
      </button>
      <button>
        Do It
      </button>

    </div>
  </div>
  <div class='split-pane operate-side'>
    <div>

      <div class='text-content'>
        <div class="bold">You want to learn how to</div>
        <div class='big'>Operate Cloud-Natvie?</div>
      </div>
      <button>
        Learn It
      </button>
      <button>
        Do It
      </button>

    </div>
  </div>
</div>

{% endblock %}

<!-- Application footer -->
{% block footer %}
{{ super() }}
{% endblock %}

