
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,800');


html, body {
  height: 100%;
  min-height: 18em;
}

.tile-content {
  display:flex;
  height:100%;
}

.dev-side {
  background-image: url("./images/code3.png");
}

.dimmed {
  content: " ";
  z-index: 10;
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  padding-bottom : 1em;
  background: rgba(0, 0, 0, 0.6);
}

.operate-side {
  background-image: url("./images/dc2.jpeg");
}

.split-pane {
  padding-top: 1em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 50%;
  min-height: 9em;
  font-size: 2em;
  color: white;
  font-weight:300;
;
}
@media(min-width: 500px) {
  .split-pane {
    padding-top: 5em;
    height: 100%;
  }
}
.split-pane > div {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}
.text-content {
  padding: 1em;
}
.split-pane > div .text-content {
  line-height: 1.6em;
  margin-bottom: 1em;
}
.split-pane > div .text-content .big {
  font-size: 2em;
}
.split-pane > div img {
  height: 1.3em;
}
@media (max-width: 500px) {
  .split-pane > div img {
    display:none;
  }
}
.split-pane button, .split-pane a.button {
  font-family: 'Open Sans', sans-serif;
  font-weight:800;
  background: none;
  border: 1px solid white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 15em;
  padding: 0.7em;
  font-size: 0.5em;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  text-decoration: none;
  color: white;
  background-color: #3333ff;
  display: inline-block;
  cursor: pointer;
}
.split-pane button:hover, .split-pane a.button:hover {
  text-decoration: none;
  background-color: white;
  border-color: white;
  color: black;
  cursor: pointer;
}

.bold {
  text-transform:uppercase;
}
.big {
  font-weight:800;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  font-size: 1.6em;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  height: 100%;
  font-family: IBM Plex Sans VF,Helvetica Neue,Arial,sans-serif;
}

.md-main__inner {
  margin: 0;
  max-width: 100%;
}

.md-main__inner .md-content__inner,
.md-sidebar--primary:not([hidden]) ~ .md-content > .md-content__inner {
  margin: 0;
  padding: 0;
}

.md-typeset img,
.md-typeset svg {
  max-width: initial;
}

.md-content__inner {
  height:100%;
}

/* center colum white */
.md-content {
  background-color: #000;
  height: 100%;
  padding-bottom: 1em;
}

:root >* {
  --md-default-bg-color: #161616; /* background */
  --md-primary-bg-color: #fff; /* Title bar text */
  --md-typeset-a-color: #aaa; /* Additional header text */
  --md-typeset-color: #fff; /* nav text normal */
  --md-accent-fg-color: #9f9; /* text hover + highlight*/
  --md-default-fg-color--lighter: #33f; /* Nav scroll bar */
  --md-primary-bg-color--light: #fff; /* Search bar text */
  --md-default-fg-color: #fff; /* Search result box section header */
  --md-default-fg-color--light: #eee; /* Search box result text */

}

/* top banner home page */
[data-md-color-primary=black] .md-header {
  background-color: #161616;
  border-bottom: 1px solid #393939;
}


article.md-content__inner.md-typeset {
  background-color: #161616;
  border-left: 1px solid #393939;
}
